.typographyLightDisplayLarge 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 56px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLightDisplaySmall 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLightHeadlineMedium 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLightTitleMedium 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLightBodyLarge 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLightBodyMedium 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLightNumberLarge 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
  letter-spacing:  
  -0.02em;
  text-indent: 0px;
  
}    

.typographyLightNumberSmall 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing:  
  -0.02em;
  text-indent: 0px;
  
}    

.typographyDarkDisplaySmall 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLightDisplayMedium 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLightHeadlineLarge 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLightHeadlineSmall 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLightTitleLarge 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLightTitleSmall 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLightBodySmall 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLightLabelLarge 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLightLabelMedium 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLightLabelSmall 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDarkDisplayLarge 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 57px;
  line-height: 56px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDarkDisplayMedium 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDarkHeadlineLarge 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDarkHeadlineMedium 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDarkHeadlineSmall 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDarkTitleLarge 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDarkTitleMedium 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDarkTitleSmall 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDarkBodyLarge 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDarkBodyMedium 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDarkBodySmall 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDarkLabelLarge 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDarkLabelMedium 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDarkLabelSmall 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyDarkNumberLarge 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
  letter-spacing:  
  -0.02em;
  text-indent: 0px;
  
}    

.typographyDarkNumberSmall 
 {
  
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing:  
  -0.02em;
  text-indent: 0px;
  
}    

