$colorLightOnErrorContainer: #6e0d1d;    
$colorLightPalettePrimary10: #f8fbff;    
$colorLightPalettePrimary20: #dfe7f3;    
$colorLightPalettePrimary30: #c6d3e6;    
$colorLightPalettePrimary40: #aebfda;    
$colorLightPalettePrimary50: #95abcd;    
$colorLightPalettePrimary60: #6382b5;    
$colorLightPalettePrimary70: #0076cb;    
$colorLightPalettePrimary80: #003283;    
$colorLightPalettePrimary90: #002869;    
$colorLightPalettePrimary100: #001434;    
$colorLightPaletteSecondary10: #f9f7ff;    
$colorLightPaletteSecondary20: #f2edff;    
$colorLightPaletteSecondary30: #d7c8ff;    
$colorLightPaletteSecondary40: #bda3ff;    
$colorLightPaletteSecondary50: #a37eff;    
$colorLightPaletteSecondary60: #8859ff;    
$colorLightPaletteSecondary70: #7b47ff;    
$colorLightPaletteSecondary80: #6f40e6;    
$colorLightPaletteSecondary90: #5632b3;    
$colorLightPaletteSecondary100: #361f70;    
$colorLightPaletteTertiary10: #f3f7f7;    
$colorLightPaletteTertiary20: #e7efef;    
$colorLightPaletteTertiary30: #b6cfcf;    
$colorLightPaletteTertiary40: #85b0b0;    
$colorLightPaletteTertiary50: #549090;    
$colorLightPaletteTertiary60: #237070;    
$colorLightPaletteTertiary70: #0b6060;    
$colorLightPaletteTertiary80: #0b5654;    
$colorLightPaletteTertiary90: #084343;    
$colorLightPaletteTertiary100: #023d3b;    
$colorLightPaletteNeutral10: #f8fafc;    
$colorLightPaletteNeutral20: #f1f5f9;    
$colorLightPaletteNeutral30: #e2e8f0;    
$colorLightPaletteNeutral40: #cbd5e1;    
$colorLightPaletteNeutral50: #94a3b8;    
$colorLightPaletteNeutral60: #64748b;    
$colorLightPaletteNeutral70: #475569;    
$colorLightPaletteNeutral80: #334155;    
$colorLightPaletteNeutral90: #1e293b;    
$colorLightPaletteNeutral100: #0f172a;    
$colorLightPaletteNeutralWhite: #ffffff;    
$colorLightPaletteNeutralBlack: #000000;    
$colorLightPaletteError10: #fef6f7;    
$colorLightPaletteError20: #fbe4e7;    
$colorLightPaletteError30: #f8d1d8;    
$colorLightPaletteError40: #ed8d9d;    
$colorLightPaletteError50: #e65f75;    
$colorLightPaletteError60: #df314e;    
$colorLightPaletteError70: #db1a3a;    
$colorLightPaletteError80: #c51734;    
$colorLightPaletteError90: #991229;    
$colorLightPaletteError100: #6e0d1d;    
$colorLightPaletteSuccess10: #f5fcf8;    
$colorLightPaletteSuccess20: #e9f6ef;    
$colorLightPaletteSuccess30: #d4edde;    
$colorLightPaletteSuccess40: #93d3ad;    
$colorLightPaletteSuccess50: #68c18c;    
$colorLightPaletteSuccess60: #3daf6b;    
$colorLightPaletteSuccess70: #27a65a;    
$colorLightPaletteSuccess80: #239551;    
$colorLightPaletteSuccess90: #1b743f;    
$colorLightPaletteSuccess100: #14532d;    
$colorLightPaletteWarning10: #fffbf5;    
$colorLightPaletteWarning20: #fff5e7;    
$colorLightPaletteWarning30: #ffebcf;    
$colorLightPaletteWarning40: #ffd79f;    
$colorLightPaletteWarning50: #ffb040;    
$colorLightPaletteWarning60: #ffa628;    
$colorLightPaletteWarning70: #ff9c10;    
$colorLightPaletteWarning80: #e68c0e;    
$colorLightPaletteWarning90: #b36d0b;    
$colorLightPaletteWarning100: #663e06;    
$colorDarkPrimary: #0076cb;    
$colorDarkOnPrimary: #ffffff;    
$colorDarkPrimaryContainer: #002869;    
$colorDarkOnPrimaryContainer: #dfe7f3;    
$colorDarkSecondary: #7b47ff;    
$colorDarkOnSecondary: #ffffff;    
$colorDarkSecondaryContainer: #361f70;    
$colorDarkOnSecondaryContainer: #f2edff;    
$colorDarkBackground: #1e293b;    
$colorDarkBackgroundInset: #0f172a;    
$colorDarkOnBackground: #ffffff;    
$colorDarkSurface: #1e293b;    
$colorDarkOnSurface: #ffffff;    
$colorDarkError: #e65f75;    
$colorDarkErrorContainer: #6e0d1d;    
$colorDarkOnError: #ffffff;    
$colorDarkOnErrorContainer: #fbe4e7;    
$colorDarkSurfaceVariant: #334155;    
$colorDarkOnSurfaceVariant: #475569;    
$colorDarkOutline: #64748b;    
$colorDarkOutlineVariant: #475569;    
$colorDarkSuccess: #68c18c;    
$colorDarkOnSuccess: #14532d;    
$colorDarkSuccessContainer: #14532d;    
$colorDarkOnSuccessContainer: #e9f6ef;    
/* use for warning status role */
$colorDarkWarning: #ffb040;    
$colorDarkOnWarning: #1e293b;    
$colorDarkWarningContainer: #663e06;    
$colorDarkPalettePrimary10: #f8fbff;    
$colorDarkPalettePrimary20: #dfe7f3;    
$colorDarkPalettePrimary30: #c6d3e6;    
$colorDarkPalettePrimary40: #aebfda;    
$colorDarkPalettePrimary50: #95abcd;    
$colorDarkPalettePrimary60: #6382b5;    
$colorDarkPalettePrimary70: #0076cb;    
$colorDarkPalettePrimary80: #003283;    
$colorDarkPalettePrimary90: #002869;    
$colorDarkPalettePrimary100: #001434;    
$colorDarkPaletteSecondary10: #f9f7ff;    
$colorDarkPaletteSecondary20: #f2edff;    
$colorDarkPaletteSecondary30: #d7c8ff;    
$colorDarkPaletteSecondary40: #bda3ff;    
$colorDarkPaletteSecondary50: #a37eff;    
$colorDarkPaletteSecondary60: #8859ff;    
$colorDarkPaletteSecondary70: #7b47ff;    
$colorDarkPaletteSecondary80: #6f40e6;    
$colorDarkPaletteSecondary90: #5632b3;    
$colorDarkPaletteSecondary100: #361f70;    
$colorDarkPaletteTertiary10: #f3f7f7;    
$colorDarkPaletteTertiary20: #e7efef;    
$colorDarkPaletteTertiary30: #b6cfcf;    
$colorDarkPaletteTertiary40: #85b0b0;    
$colorDarkPaletteTertiary50: #549090;    
$colorDarkPaletteTertiary60: #237070;    
$colorDarkPaletteTertiary70: #0b6060;    
$colorDarkPaletteTertiary80: #0b5654;    
$colorDarkPaletteTertiary90: #084343;    
$colorDarkPaletteTertiary100: #023d3b;    
$colorDarkPaletteNeutral10: #f8fafc;    
$colorDarkPaletteNeutral20: #f1f5f9;    
$colorDarkPaletteNeutral30: #e2e8f0;    
$colorDarkPaletteNeutral40: #cbd5e1;    
$colorDarkPaletteNeutral50: #94a3b8;    
$colorDarkPaletteNeutral60: #64748b;    
$colorDarkPaletteNeutral70: #475569;    
$colorDarkPaletteNeutral80: #334155;    
$colorDarkPaletteNeutral90: #1e293b;    
$colorDarkPaletteNeutral100: #0f172a;    
$colorDarkPaletteNeutralWhite: #ffffff;    
$colorDarkPaletteNeutralBlack: #000000;    
$colorDarkPaletteError10: #fef6f7;    
$colorDarkPaletteError20: #fbe4e7;    
$colorDarkPaletteError30: #f8d1d8;    
$colorDarkPaletteError40: #ed8d9d;    
$colorDarkPaletteError50: #e65f75;    
$colorDarkPaletteError60: #df314e;    
$colorDarkPaletteError70: #db1a3a;    
$colorDarkPaletteError80: #c51734;    
$colorDarkPaletteError90: #991229;    
$colorDarkPaletteError100: #6e0d1d;    
$colorDarkPaletteSuccess10: #f5fcf8;    
$colorDarkPaletteSuccess20: #e9f6ef;    
$colorDarkPaletteSuccess30: #d4edde;    
$colorDarkPaletteSuccess40: #93d3ad;    
$colorDarkPaletteSuccess50: #68c18c;    
$colorDarkPaletteSuccess60: #3daf6b;    
$colorDarkPaletteSuccess70: #27a65a;    
$colorDarkPaletteSuccess80: #239551;    
$colorDarkPaletteSuccess90: #1b743f;    
$colorDarkPaletteSuccess100: #14532d;    
$colorDarkPaletteWarning10: #fffbf5;    
$colorDarkPaletteWarning20: #fff5e7;    
$colorDarkPaletteWarning30: #ffebcf;    
$colorDarkPaletteWarning40: #ffd79f;    
$colorDarkPaletteWarning50: #ffb040;    
$colorDarkPaletteWarning60: #ffa628;    
$colorDarkPaletteWarning70: #ff9c10;    
$colorDarkPaletteWarning80: #e68c0e;    
$colorDarkPaletteWarning90: #b36d0b;    
$colorDarkPaletteWarning100: #663e06;    
$colorLightOnWarningContainer: #663e06;    
$colorDarkOnWarningContainer: #fff5e7;    
/* use for neutral status role */
$colorLightNeutral: #cbd5e1;    
/* use for text and icons on a neutral role surface */
$colorLightOnNeutral: #ffffff;    
$colorLightNeutralContainer: #e2e8f0;    
$colorLightOnNeutralContainer: #1e293b;    
/* use for neutral staus role */
$colorDarkNeutral: #cbd5e1;    
/* use for text and icons on neutral status role */
$colorDarkOnNeutral: #475569;    
$colorDarkNeutralContainer: #94a3b8;    
/* use for text and icons on neutral status role */
$colorDarkOnNeutralContainer: #334155;    
$colorLightPrimary: $colorLightPalettePrimary80;    
$colorLightOnPrimary: $colorLightPaletteNeutralWhite;    
$colorLightPrimaryContainer: $colorLightPalettePrimary20;    
$colorLightOnPrimaryContainer: $colorLightPaletteNeutral90;    
$colorLightSecondary: $colorLightPaletteSecondary70;    
$colorLightOnSecondary: $colorLightPaletteNeutralWhite;    
$colorLightSecondaryContainer: $colorLightPaletteSecondary20;    
$colorLightOnSecondaryContainer: $colorLightPaletteSecondary100;    
$colorLightBackground: $colorLightPaletteNeutralWhite;    
$colorLightBackgroundInset: $colorLightPaletteNeutral10;    
$colorLightOnBackground: $colorLightPaletteNeutral90;    
$colorLightSurface: $colorLightPaletteNeutralWhite;    
/* Use for primary text, and primary icons */
$colorLightOnSurface: $colorLightPaletteNeutral90;    
/* use for error status role */
$colorLightError: $colorLightPaletteError70;    
$colorLightErrorContainer: $colorLightPaletteError20;    
$colorLightOnError: $colorLightPaletteNeutralWhite;    
$colorLightSurfaceVariant: $colorLightPaletteNeutral20;    
/* Use for secondary text, placeholder text, and subtle icons */
$colorLightOnSurfaceVariant: $colorLightPaletteNeutral60;    
$colorLightOutline: $colorLightPaletteNeutral30;    
$colorLightOutlineVariant: $colorLightPaletteNeutral20;    
/* use for success status role */
$colorLightSuccess: $colorLightPaletteSuccess70;    
$colorLightOnSuccess: $colorLightPaletteNeutralWhite;    
$colorLightSuccessContainer: $colorLightPaletteSuccess20;    
$colorLightOnSuccessContainer: $colorLightPaletteSuccess100;    
/* warning status */
$colorLightWarning: $colorLightPaletteWarning70;    
$colorLightOnWarning: $colorLightPaletteNeutral90;    
$colorLightWarningContainer: $colorLightPaletteWarning20;    
